//
// Global Variables
//

// Typography
$header-font: "Tajawal", sans-serif;
$default-font: "Lato", sans-serif;

// Colors
$gray: #C5C1C0;
$steel: #0A1612;
$denim: #1A2930;
$marigold: #F7CE3E;

// Breakpoints
$tablet: 768px;
$desktop: 992px;